

/* Estilo para la barra de desplazamiento en navegadores webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 0.7rem; /* Ancho de la barra */
    
    }
::-webkit-scrollbar-track {
    background: #f1f1f1 !important; /* Color de fondo de la barra de desplazamiento */
    }
::-webkit-scrollbar-thumb {
        background: linear-gradient(transparent,#F0B100 ) !important;
        border-radius:4rem !important;
        height:5rem !important;
        }

.subrayado-naranja-espacio:hover {
            text-decoration: underline !important;
            text-decoration-color:#FFC125 !important;
            text-underline-offset: 0.5rem !important; 
            text-decoration-thickness: 0.15rem !important; 
          }

.color{
    color: #151332; /* Color del texto */
}

button{
    background-color: #1A183E; /* Color de fondo */
  color: silver;
  font-weight: bold;

}  

button:hover{
     color: #1A183E;
    background-color: white; /* Color de fondo */
     border: 2px solid #1A183E ; 
}

/* Excepción específica para botón de menú */
.button-menu {
  background-color: transparent;
  color: inherit;
  font-weight: normal;
  border: none;
}
.button-menu:hover {
  background-color: transparent;
  color: inherit;
  font-weight: normal;
  border: none;
}



.stroke{
    stroke: black;
stroke-width: 3;
}

  
@media (max-width: 374px) {
  .hero-320-fix h1 {
    font-size: 1.5rem; /* Ajustá según lo que necesités */
    line-height: 2rem;
    position: relative;
    top: 1rem;
    border: 2px solid transparent;
  }

  .hero-320-fix p {
    font-size: 1rem;
    line-height: 1.5rem;
     position: relative;
    top: -2.2rem;
     border: 2px solid transparent;
  }

  .hero-320-fix img {
   position: relative;
       top: -5rem;
       right:60%;
    width: 240%;
       
  }

  .hero-320-fix {
    padding-top: 3rem;
    padding-bottom: 0rem;
     border: 2px solid transparent;
  }
   .hero-320-fix button {
     position: relative;
     font-size: 0.7rem;
    bottom: 2.5rem;
     }
}