@import "tailwindcss";
@custom-variant hover (&:hover);

.modo-oscuro body{
   background-color:#111;
    color: white;
    
  }

.modo-oscuro h1, .modo-oscuro h3 {
    color:#dcdcdc;
}
.modo-oscuro p {
    color:#eeeeee ;
}

  .modo-oscuro label, .modo-oscuro input, .modo-oscuro textarea {
    background-color:#212121 ;
    color:white;
  }

  .modo-oscuro .color{
    color: #dcdcdc;
  }


  .modo-oscuro #luna{ /* div que contiene la luna */
    background-color:#111 ;
  }

  .modo-oscuro .divporta {
    background-color:#222;
  }

  .modo-oscuro .divportafolio {
    background-color:#111;
  }
.modo-oscuro .fondo {
    background-color:#1111;
  }
.modo-oscuro .hero {
    background-color:#1111;
  }

 

  .tarjeta {
  background: linear-gradient(145deg, #dcdcdc, #bfbfbf, #e8e8e8); /* colores más equilibrados */
  border: 1px solid #c0c0c0;
  border-radius: 1rem;
  box-shadow:
    inset 0 0 0 rgba(255, 255, 255, 0),  /* eliminamos brillo interno */
    0 2px 6px rgba(0, 0, 0, 0.1);       /* sombra externa suave */
}

 .modo-oscuro .tarjeta{
background: linear-gradient(145deg, #222, #222, #222); /* colores más equilibrados */
  }

  *:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;

  }

 footer{
    /*background-color:#2c3e50;*/
   /* background-color: #034E7B;*/
    background-color: #1A183E;
 
  
  }

  
.bolitas{
  display: flex;
  flex-direction: row;
}
.bolita{
  border-radius: 50%;
  background-color:#2C5D7D;
  width:0.5rem;
  height:0.5rem;
  margin-bottom: 0.8rem; /* 5px / 10 = 0.5rem */
}

.bolita3{
  display: inline;
  border-radius: 50%;
  background-color: #F0CF42;
  width:0.5rem;
  height:0.5rem;
  margin-left:0.2rem;
}


